/*

   SKINS
   Docs: http://tachyons.io/docs/themes/skins/

   Classes for setting foreground and background colors on elements.
   If you haven't declared a border color, but set border on an element, it will
   be set to the current text color.

*/

/* Text colors */

.black-90 {         color: var(--black-90); }
.black-80 {         color: var(--black-80); }
.black-70 {         color: var(--black-70); }
.black-60 {         color: var(--black-60); }
.black-50 {         color: var(--black-50); }
.black-40 {         color: var(--black-40); }
.black-30 {         color: var(--black-30); }
.black-20 {         color: var(--black-20); }
.black-10 {         color: var(--black-10); }
.black-05 {         color: var(--black-05); }

.white-90 {         color: var(--white-90); }
.white-80 {         color: var(--white-80); }
.white-70 {         color: var(--white-70); }
.white-60 {         color: var(--white-60); }
.white-50 {         color: var(--white-50); }
.white-40 {         color: var(--white-40); }
.white-30 {         color: var(--white-30); }
.white-20 {         color: var(--white-20); }
.white-10 {         color: var(--white-10); }

.black {         color: black; }
.white {         color: white; }

.color-inherit { color: inherit; }

.red-0 { color: var(--red-000); }
.red-1 { color: var(--red-100); }
.red-2 { color: var(--red-200); }
.red-3 { color: var(--red-300); }
.red-4 { color: var(--red-400); }
.red-5 { color: var(--red-500); }
.red-6 { color: var(--red-600); }
.red-7 { color: var(--red-700); }
.red-8 { color: var(--red-800); }
.red-9 { color: var(--red-900); }
.gold-0 { color: var(--gold-000); }
.gold-1 { color: var(--gold-100); }
.gold-2 { color: var(--gold-200); }
.gold-3 { color: var(--gold-300); }
.gold-4 { color: var(--gold-400); }
.gold-5 { color: var(--gold-500); }
.gold-6 { color: var(--gold-600); }
.gold-7 { color: var(--gold-700); }
.gold-8 { color: var(--gold-800); }
.gold-9 { color: var(--gold-900); }
.green-0 { color: var(--green-000); }
.green-1 { color: var(--green-100); }
.green-2 { color: var(--green-200); }
.green-3 { color: var(--green-300); }
.green-4 { color: var(--green-400); }
.green-5 { color: var(--green-500); }
.green-6 { color: var(--green-600); }
.green-7 { color: var(--green-700); }
.green-8 { color: var(--green-800); }
.green-9 { color: var(--green-900); }
.teal-0 { color: var(--teal-000); }
.teal-1 { color: var(--teal-100); }
.teal-2 { color: var(--teal-200); }
.teal-3 { color: var(--teal-300); }
.teal-4 { color: var(--teal-400); }
.teal-5 { color: var(--teal-500); }
.teal-6 { color: var(--teal-600); }
.teal-7 { color: var(--teal-700); }
.teal-8 { color: var(--teal-800); }
.teal-9 { color: var(--teal-900); }
.blue-0 { color: var(--blue-000); }
.blue-1 { color: var(--blue-100); }
.blue-2 { color: var(--blue-200); }
.blue-3 { color: var(--blue-300); }
.blue-4 { color: var(--blue-400); }
.blue-5 { color: var(--blue-500); }
.blue-6 { color: var(--blue-600); }
.blue-7 { color: var(--blue-700); }
.blue-8 { color: var(--blue-800); }
.blue-9 { color: var(--blue-900); }
.indigo-0 { color: var(--indigo-000); }
.indigo-1 { color: var(--indigo-100); }
.indigo-2 { color: var(--indigo-200); }
.indigo-3 { color: var(--indigo-300); }
.indigo-4 { color: var(--indigo-400); }
.indigo-5 { color: var(--indigo-500); }
.indigo-6 { color: var(--indigo-600); }
.indigo-7 { color: var(--indigo-700); }
.indigo-8 { color: var(--indigo-800); }
.indigo-9 { color: var(--indigo-900); }
.violet-0 { color: var(--violet-000); }
.violet-1 { color: var(--violet-100); }
.violet-2 { color: var(--violet-200); }
.violet-3 { color: var(--violet-300); }
.violet-4 { color: var(--violet-400); }
.violet-5 { color: var(--violet-500); }
.violet-6 { color: var(--violet-600); }
.violet-7 { color: var(--violet-700); }
.violet-8 { color: var(--violet-800); }
.violet-9 { color: var(--violet-900); }
.gray-0 { color: var(--gray-000); }
.gray-1 { color: var(--gray-100); }
.gray-2 { color: var(--gray-200); }
.gray-3 { color: var(--gray-300); }
.gray-4 { color: var(--gray-400); }
.gray-5 { color: var(--gray-500); }
.gray-6 { color: var(--gray-600); }
.gray-7 { color: var(--gray-700); }
.gray-8 { color: var(--gray-800); }
.gray-9 { color: var(--gray-900); }

.bg-black-90 {         background-color: var(--black-90); }
.bg-black-80 {         background-color: var(--black-80); }
.bg-black-70 {         background-color: var(--black-70); }
.bg-black-60 {         background-color: var(--black-60); }
.bg-black-50 {         background-color: var(--black-50); }
.bg-black-40 {         background-color: var(--black-40); }
.bg-black-30 {         background-color: var(--black-30); }
.bg-black-20 {         background-color: var(--black-20); }
.bg-black-10 {         background-color: var(--black-10); }
.bg-black-05 {         background-color: var(--black-05); }
.bg-white-90 {        background-color: var(--white-90); }
.bg-white-80 {        background-color: var(--white-80); }
.bg-white-70 {        background-color: var(--white-70); }
.bg-white-60 {        background-color: var(--white-60); }
.bg-white-50 {        background-color: var(--white-50); }
.bg-white-40 {        background-color: var(--white-40); }
.bg-white-30 {        background-color: var(--white-30); }
.bg-white-20 {        background-color: var(--white-20); }
.bg-white-10 {        background-color: var(--white-10); }



/* Background colors */

.bg-black {         background-color: black; }
.bg-white {         background-color: white; }
.bg-transparent {   background-color: transparent; }
.bg-inherit { background-color: inherit; }


.bg-red-0 { background-color: var(--red-000); }
.bg-red-1 { background-color: var(--red-100); }
.bg-red-2 { background-color: var(--red-200); }
.bg-red-3 { background-color: var(--red-300); }
.bg-red-4 { background-color: var(--red-400); }
.bg-red-5 { background-color: var(--red-500); }
.bg-red-6 { background-color: var(--red-600); }
.bg-red-7 { background-color: var(--red-700); }
.bg-red-8 { background-color: var(--red-800); }
.bg-red-9 { background-color: var(--red-900); }
.bg-gold-0 { background-color: var(--gold-000); }
.bg-gold-1 { background-color: var(--gold-100); }
.bg-gold-2 { background-color: var(--gold-200); }
.bg-gold-3 { background-color: var(--gold-300); }
.bg-gold-4 { background-color: var(--gold-400); }
.bg-gold-5 { background-color: var(--gold-500); }
.bg-gold-6 { background-color: var(--gold-600); }
.bg-gold-7 { background-color: var(--gold-700); }
.bg-gold-8 { background-color: var(--gold-800); }
.bg-gold-9 { background-color: var(--gold-900); }
.bg-green-0 { background-color: var(--green-000); }
.bg-green-1 { background-color: var(--green-100); }
.bg-green-2 { background-color: var(--green-200); }
.bg-green-3 { background-color: var(--green-300); }
.bg-green-4 { background-color: var(--green-400); }
.bg-green-5 { background-color: var(--green-500); }
.bg-green-6 { background-color: var(--green-600); }
.bg-green-7 { background-color: var(--green-700); }
.bg-green-8 { background-color: var(--green-800); }
.bg-green-9 { background-color: var(--green-900); }
.bg-teal-0 { background-color: var(--teal-000); }
.bg-teal-1 { background-color: var(--teal-100); }
.bg-teal-2 { background-color: var(--teal-200); }
.bg-teal-3 { background-color: var(--teal-300); }
.bg-teal-4 { background-color: var(--teal-400); }
.bg-teal-5 { background-color: var(--teal-500); }
.bg-teal-6 { background-color: var(--teal-600); }
.bg-teal-7 { background-color: var(--teal-700); }
.bg-teal-8 { background-color: var(--teal-800); }
.bg-teal-9 { background-color: var(--teal-900); }
.bg-blue-0 { background-color: var(--blue-000); }
.bg-blue-1 { background-color: var(--blue-100); }
.bg-blue-2 { background-color: var(--blue-200); }
.bg-blue-3 { background-color: var(--blue-300); }
.bg-blue-4 { background-color: var(--blue-400); }
.bg-blue-5 { background-color: var(--blue-500); }
.bg-blue-6 { background-color: var(--blue-600); }
.bg-blue-7 { background-color: var(--blue-700); }
.bg-blue-8 { background-color: var(--blue-800); }
.bg-blue-9 { background-color: var(--blue-900); }
.bg-indigo-0 { background-color: var(--indigo-000); }
.bg-indigo-1 { background-color: var(--indigo-100); }
.bg-indigo-2 { background-color: var(--indigo-200); }
.bg-indigo-3 { background-color: var(--indigo-300); }
.bg-indigo-4 { background-color: var(--indigo-400); }
.bg-indigo-5 { background-color: var(--indigo-500); }
.bg-indigo-6 { background-color: var(--indigo-600); }
.bg-indigo-7 { background-color: var(--indigo-700); }
.bg-indigo-8 { background-color: var(--indigo-800); }
.bg-indigo-9 { background-color: var(--indigo-900); }
.bg-violet-0 { background-color: var(--violet-000); }
.bg-violet-1 { background-color: var(--violet-100); }
.bg-violet-2 { background-color: var(--violet-200); }
.bg-violet-3 { background-color: var(--violet-300); }
.bg-violet-4 { background-color: var(--violet-400); }
.bg-violet-5 { background-color: var(--violet-500); }
.bg-violet-6 { background-color: var(--violet-600); }
.bg-violet-7 { background-color: var(--violet-700); }
.bg-violet-8 { background-color: var(--violet-800); }
.bg-violet-9 { background-color: var(--violet-900); }
.bg-gray-0 { background-color: var(--gray-000); }
.bg-gray-1 { background-color: var(--gray-100); }
.bg-gray-2 { background-color: var(--gray-200); }
.bg-gray-3 { background-color: var(--gray-300); }
.bg-gray-4 { background-color: var(--gray-400); }
.bg-gray-5 { background-color: var(--gray-500); }
.bg-gray-6 { background-color: var(--gray-600); }
.bg-gray-7 { background-color: var(--gray-700); }
.bg-gray-8 { background-color: var(--gray-800); }
.bg-gray-9 { background-color: var(--gray-900); }
